@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
     font-family: "Sriracha", cursive;
     background-color: black;
     text-align: center;
     color: #ff2600;
}